body {
  top: 0;
  overflow-x: hidden;
  font-family: "Space Mono", monospace;
  font-weight: 400;
}
button {
 
        color: #000;
     
  cursor: pointer;
  margin-bottom: 1em;
  font-weight: 700;
  font-family: "Space Mono", monospace;
  background-color: aliceblue;
  border-radius: 1em;
  width: 6em;
}
#bg {
  z-index: 0;
  filter: blur(0.3px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../about_bg.jpg");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
#count {
  z-index: 110;
  font-size: larger;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1100000;
  text-align: center;
  color: aliceblue;
  background-image: linear-gradient(rgb(121, 121, 120), rgb(168, 168, 168));

  width: 100vw;
}
#records {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  width: 75vw;
  min-height: max-content;
  overflow-wrap: normal;
  min-width: 32em;
  background-attachment: fixed;
  background-image: linear-gradient(rgb(225, 235, 250), rgb(213, 215, 215));
  background-color: rgb(213, 215, 215);
  z-index: 1100;
}
#allObjects {
  padding: 1em;
}
#count {
  display: flex;
  justify-content: center;
  padding: 1em;
  align-items: center;
  text-align: center;
}
#page {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  position: absolute;
  width: 100vw;
  left: 0;
  top: 0;
}
#bigContainer {
  position: relative;
  background-color: aliceblue;
  width:32em;
  height:32em;
  padding-top: 1em;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
#maxAsteroid {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 30em;
  width: 30em;
  background-color: #555;
  border-radius: 50%;
}
#minAsteroid {
  position: relative;

  height: 30em;
  width: 30em;
  background-color: #8b8a8a;
  border-radius: 50%;
}
#footballField {
  background-image: url("/football.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 100px;
}
#asteroidSpeed {
  background-color: #555;
  width: 30em;
  height: 0.3em;
}
#blackbird {
  background-color: #555;
  width: 30em;
  height: 0.3em;
}
#closestContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
}
#earth {
  margin: 1em;
  background-image: url("/earth.jpg");

  top: 0em;
  background-size: contain;
  border-radius: 50%;
  height: 0.9113039674em;
  width: 0.9113039674em;
}
#moon {
  position: absolute;
  left: 30em;
  top: 0.5em;
  background-size: contain;
  border-radius: 50%;
  background-image: url("/earth.jpg");
  height: 0.5em;
  width: 0.5em;
}
.jupiter {
  background-color: aqua;
  background-size: cover;

  border-radius: 50%;
  background-image: url("/jupiter.PNG");
  height: 5em;
  width: 5em;
}
#earthJupiters {
  display: flex;
  flex-direction: row;
}
.record_head {
  display: flex;
  color: aliceblue;
  align-items: center;
  user-select: none;
  margin-top: 1em;
 
  height: 10em;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgb(121, 121, 120),
    rgb(168, 168, 168)
  );
}
h1 {
  font-size: 4em;
  margin-left: 1em;
  font-family: "Space Mono", monospace;
}
.stats {
    display: flex;
  background-color: #cccbcb;
  color: rgb(62, 62, 63);


width: 75vw;

padding-top: 1em;
padding-bottom: 1em;
  min-width: 32em;
}
.stats p{
    padding-left: 1em;
    padding-right: 1em;
}
#fastContainer{padding-left: 1em;}
#big_jupiter {
  background-image: url("/jupiter.PNG");
  height: 10em;
  width: 10em;
  background-size: cover;

  border-radius: 50%;
}
#earth_scale {
  align-items: center;
  padding: 4em;
  position: relative;
  display: flex;
  flex-direction: column;
}
#about {
  padding: 1em;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;

  width: 30vw;
  min-width: 30em;
  color: white;
  background-color: #8b8a8a;
  z-index: 1000000;
}
@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  #about {
  }
}
.header {
}
#about_bg {
  z-index: 0;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/about_bg.jpg");
  background-size: cover;
  background-position: 0em;
}
a {
  color: rgb(176, 238, 238);
}

#footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 5em;
  background-color: rgb(166, 167, 169);
  justify-content: center;
  align-items: center;
}
#fast_container{
    padding-left: 1em;
}
